{% load static %}
<div class="wrap-header">    
    
        <div class="container container-xxl">            
            <div class="header__content">
                <div class="logo" id="logo">
                    <a href="/" class="logo__link">
                        <span class="logo__text">Ask</span>
                        <span class="logo__number">42</span>
                    </a>
                </div>
                <span class="logo__number text-center" >Test Task</br>Position Junior QA Engineer</span>
                <div class="logo" id="logo">
                    <img src="{% static 'img/icon_tg.png' %}" width="30" height="30" class="d-inline-block align-top" alt="telegram">
                    <a href="https://t.me/Mikhail_Ryzhykau" class="logo__link">
                    <span class="logo__text">Ryzhykau Mikhail</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>